{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='col-md-4 col-md-offset-2'>
<h1>Create Category</h1>
</div>
  <div class="container">
    <form class="create" method="POST" action="{% url 'new_category' %}">
		  {% csrf_token %}
		  {{ form|crispy }}
		  <div class=" col-md-9 col-lg-9 "> 
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Cetegory Name:</td>
                        <td>
                        <input id="category_name" type="text" name="category_name" />
                        </td>
                      </tr>
                      <tr>
                        <td>Cetegory Description:</td>
                        <td>
                        <textarea id="category_description" type="text" name="category_description"></textarea>
                        </td>
                      </tr>
                  </tbody>
              </table>
              <div class="col-md-4 text-center"> 
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-warning" href="{% url 'category'  %}">Cancel</a>
              </div>
          </div>
		  
		</form>
   </div>


{% endblock %}