{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
 {% endif %}
<div class="page-header">
	<h1>{{ idea.name }}</h1>
</div>

<div>
<div class="well">
	<p><h3>{{ idea.description }}</h3></p>
 </div>


<div>
    <div class="col-sm-8">
        <div class="titleBox">
          <label>Comments</label>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                {% for item in comments.all %}
                <li>
                    <div class="commenterImage">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                    <div class="commentText">
                        <p class="">{{item.comment}}</p> <span class="date sub-text">Posted By: <strong>{{item.owner}}</strong> on {{item.date}}</span>
      
                    </div>
                </li>
                {% endfor %}
            </ul>
            <form class="form-inline" role="form" class="create" method="POST" action="{% url 'add_comment' idea.id %}">
                {% csrf_token %}
              <div class="form-group">
                    <input name="comment_text" class="form-control col-sm-8" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Comment</button>
                </div>
            </form>
        </div>
      </div>

<div class='col-sm-4'>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Price</h3>
    </div>
    <div class="panel-body">
      {{ idea.description }} &euro;
      
    </div>
</div>
</div>
<div class='col-sm-4 pull-right'>
 <form class="add_to_cart" id="add_to_cart_form" method="post" action="{% url 'add_to_cart' idea.id %}">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Quantity</h3>
    </div>
    <div class="panel-body">
       <input class="form-control" value="1" id= "quantity" name = "quantity" type="number" min="1" max="10" required>
       <br/>
       <button type="submit" class='btn btn-success pull-right'>Add to cart</button>
    </div>
  </div>
</form>
</div>

</div>
</div>
{% endblock %}