{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


{% if request.user.is_authenticated %}


{% endif %}
<div class="page-header">
	<h1>{{ idea.name }}</h1>
</div>

<div>
  <div class="well">
   <p>{{ idea.description }}</p>
 </div>


 <div>
  <div class="col-sm-8">
    <div class="titleBox">
      <label>Comments</label>
    </div>
    <div class="actionBox">
      <ul class="commentList">
        {% for item in comments.all %}
        <li>
          <div class="commenterImage">
            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
          </div>
          <div class="commentText">
            <p class="">{{item.comment}}</p> <span class="date sub-text">
              Posted By: <strong>{{item.owner}}</strong> on {{item.date}}
              {% if request.user.is_authenticated %}
              {% if item.owner == request.user %}
              <a class="btn" title="delete" style ="padding: 5px" href="{% url 'delete_comment' idea_id=idea.id comment_id=item.id  %}"><span class="glyphicon glyphicon-trash"></span></a>
              <a class="btn" title="edit" style ="padding: 5px"  href="{% url 'comment_for_edit' idea_id=idea.id comment_id=item.id  %}"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
              <a class="btn" title="like" style ="padding: 5px" href="{% url 'like_comment' idea_id=idea.id comment_id=item.id %}"><span class="glyphicon glyphicon-thumbs-up"></span>{{item.vote_score}}</a>
              {% endif %}
            </span>
            
          </div>
        </li>
        {% endfor %}
      </ul>
      {% if comment %}
      <form role="form" class="edit" method="POST" action="{% url 'edit_comment' idea_id=idea.id comment_id=comment.id %}">
        {% csrf_token %}
        <div class=" col-md-9 col-lg-8 "> 
        <div class="form-group">
          <textarea  id="edit_comment_text" class="form-control"  name="edit_comment_text" placeholder="Your comments" required>{{comment.comment}}</textarea>
        </div>
      </div>
      <div class="col-md-12 text-center"> 
      <button type="submit" class="btn btn-primary">Edit</button>
      <a class="btn btn-default" href="{% url 'idea' idea.id %}">Cancel</a>
    </div>
      </form>
      {% endif %}
      {% if not comment %}
      <form role="form" class="create" method="POST" action="{% url 'add_comment' idea.id %}">
          {% csrf_token %}
          <div class=" col-md-9 col-lg-8 "> 
          <div class="form-group">
            <textarea  id="comment_text" class="form-control"  name="comment_text" placeholder="Your comments" required></textarea>
          </div>
        </div>
        <div class="col-md-12 text-center"> 
        <button type="submit" class="btn btn-default">Comment</button>
      </div>
        </form>
        {% endif %}
    </div>
  </div>

  <div class='col-sm-4'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vote</h3>
      </div>
      <div class="panel-body">
        {{ idea.vote_score  }}
          <div class='col-sm-4 pull-right'>
            <form  method="post" action="{% url 'idea_vote_up' idea.id %}">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </button>
           </form> 
           <form  method="post" action="{% url 'idea_vote_down' idea.id %}">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
           </form>

            
        </div>
      </div>
    </div>
  </div>


     <!-- <div class='col-sm-4'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Price</h3>
      </div>
      <div class="panel-body">
        {{ idea.description }} &euro;
          <div class='col-sm-4 pull-right'>
    <form class="add_to_cart" id="add_to_cart_form" method="post" action="{% url 'add_to_cart' idea.id %}">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          <button type="submit" class='btn btn-success pull-right'>Add to cart</button>
        </form> 
        </div>
      </div>
    </div>
  </div>-->


</div>
</div>
{% endblock %}