{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >  
        <form class="edit_profile" id="edit_profile_form" method="post" action="{% url 'edit' user.id %}">
        {% csrf_token %}
 	    	{{ form|crispy }}
          {% if error_message %}<p id="error">{{ error_message }}</p> {% endif %}
          {% if info_message %}<p id="info">{{ info_message }}</p> {% endif %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://www.drupal.org/files/profile_default.png" class="img-circle img-responsive">
               </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First name:</td>
                        <td>
                        <input class="form-control" id="first_name" type="text" name="first_name" value="{{ user.first_name }}">
                        </td>
                      </tr>
                      <tr>
                        <td>Last name:</td>
                        <td>
                        <input class="form-control" id="last_name" type="text" name="last_name" value="{{ user.last_name }}">
                        </td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td>
                        <input class="form-control" id="email" type="text" name="email" value="{{ user.email }}">
                        </td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>
					    <div class="radio">
					      <label><input type="radio" name="optradio">Male</label>
					    </div>
					    <div class="radio">
					      <label><input type="radio" name="optradio">Female</label>
					    </div>
					   </td>
                      </tr>
                        
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                      </tr>                        
                      </tr>                 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <button type="submit" class='btn btn-success'>Save</button>
                    </div>
            
          </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}